@font-face {
    font-family: SnyderSpeedbrush;
    src: url('../assets/SnyderSpeedBrush.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: black url('../assets/background.png') no-repeat fixed;
        @apply bg-cover text-gray-50;
    }

    a {
        @apply text-yellow-400 transition-colors duration-300;
    }

    a:hover, a:focus, a:active {
        @apply text-blue-400;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-display mt-4 mb-2 text-yellow-300 text-center tracking-wider;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
}